Source: cutie-terminal
Section: libs
Maintainer: Erik Inkinen <erik.inkinen@gmail.com>
Priority: optional
Build-Depends: pkg-kde-tools,
               cmake,
               libgles-dev,
               qt6-base-dev,
               pkg-config,
               qt6-declarative-dev,
               libqt6dbus6,
               qt6-tools-dev-tools
Standards-Version: 4.5.1

Package: cutie-terminal
Architecture: any
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, qml-module-cutie, qml6-module-termwidget
Description: This package contains Cutie Terminal app.